body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: .9em;
}

h1 {
    font-size: 1.5em;
    color: #334499;
}

.main-navbar {
    width: 100%;
    text-align: center;
}

.main-navbar>a {
    margin: 10px;
    display: inline-block;
}

body {
    margin: auto;
    max-width: 960px;
}

.hidden {
    display: none;
}